html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    position: relative;
    overflow: hidden;
    font-family: verdana;
    font-size: 12px;
}
body, textarea, a {
    background-color: #222222;
    color: #DDD;
    border: none;
}
h1 {
  margin: 0;
  font-weight: normal;
  float: left;
}
p {
    margin: 0;
}
select {
    vertical-align: middle;
}
a {
    text-decoration: none;
}

.pull-right: {
  float: right;
}
.pull-left: {
  float: left;
}

.box {
    overflow: auto;
    float: left;
    box-sizing: border-box;
    width: 33.3%;
    height: 100%;
    position: relative;
    background-color: #272822;
}
.box textarea {
    width: 100%;
    height: 99%;
    box-sizing: border-box;
}
.box .body {
    position: absolute;
    top: 48px;
    bottom: 0;
    left: 0;
    right: 0;
}
.box .head {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 48px;
  box-sizing: border-box;
  padding: 8px;
  font-size: 24px;
  border: 1px solid #333;
  line-height: 24px;
}
.box .head label {
    font-size: 16px;
}

.err {
    display: none;
    color: crimson;
    font-size: 12px;
    float: left;
    max-width: calc(100% - 180px);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 27px;
}
.err.visible {
    display: inline-block;
}

.ace_gutter {
  min-width: 60px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) and (min-width: 1024px) {
  .box::-webkit-scrollbar-button,
  .ace_scrollbar::-webkit-scrollbar-button {
    width: 2px;
    height: 2px;
  }
  .box::-webkit-scrollbar,
  .ace_scrollbar::-webkit-scrollbar {
    background: none;
    width: 8px;
    height: 8px;
  }
  .box::-webkit-scrollbar-thumb,
  .ace_scrollbar::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 8px;
    border: 1px solid #AAA;
  }
  .box::-webkit-scrollbar-thumb:horizontal,
  .ace_scrollbar::-webkit-scrollbar-thumb:horizontal {
    background: -moz-linear-gradient(top, #cccccc 0%, #bbbbbb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cccccc), color-stop(100%, #bbbbbb));
    background: -webkit-linear-gradient(top, #cccccc 0%, #bbbbbb 100%);
    background: -o-linear-gradient(top, #cccccc 0%, #bbbbbb 100%);
    background: -ms-linear-gradient(top, #cccccc 0%, #bbbbbb 100%);
    background: linear-gradient(to bottom, #cccccc 0%, #bbbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCCCCCC', endColorstr='#FFBBBBBB',GradientType=0 );
  }
  .box::-webkit-scrollbar-thumb:vertical,
  .ace_scrollbar::-webkit-scrollbar-thumb:vertical {
    background: -moz-linear-gradient(left, #cccccc 0%, #bbbbbb 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #cccccc), color-stop(100%, #bbbbbb));
    background: -webkit-linear-gradient(left, #cccccc 0%, #bbbbbb 100%);
    background: -o-linear-gradient(left, #cccccc 0%, #bbbbbb 100%);
    background: -ms-linear-gradient(left, #cccccc 0%, #bbbbbb 100%);
    background: linear-gradient(to right, #cccccc 0%, #bbbbbb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFCCCCCC', endColorstr='#FFBBBBBB',GradientType=1 );
  }
  .box::-webkit-scrollbar-corner,
  .ace_scrollbar::-webkit-scrollbar-corner {
    background: none;
  }
}
